@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 25vh;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header, .hero, .footer {
    margin: 0;
    background-color: #1f2937;
}

.header, .footer {
    display: flex;
    width: 100vw;
    height: 50px;
    padding: 16px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 30vh;
}

.left {
    display: flex;
    width: 30vw;
    flex-wrap: wrap;
}

.hero > img {
    max-height: 20vh;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-top: 32px;
    margin-bottom: 0px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 8px 32px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content > p {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.flexBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    border: 2px solid #1f2937;
    width: 300px;
    height: 200px;
    justify-content: center;
}

.box > img {
    max-width: 200px;

}

.quote {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
    background-color: #3882f6;
}

.big {
    font-size: 20px;
    font-weight: bold;
    color: #f9faf8;
}

.small {
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    font-size: 18px;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
}

ul {
    text-decoration-style: none;
    list-style-type: none;
    gap: 16px;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
